#container{
	margin: 0 auto;
	width: 1000px;
	font-family: "brandon-grotesque", Arial, Helvetica, Geneva, sans-serif;
	height: 1000px;
}

header div{
	height: 200px;
	background-color: navy;
	float: left;
	color: white;
	text-align: center;
	border-radius: 50px; 
}
#site-title{
	width: 400px;
}

#site-title a{
	text-decoration: none;
	color: white;
	line-height: 200px;
	font-size: 48px;
}

#right-menu{
	float: right;
	font-size: 20px;
}

#right-menu ul{
	list-style-type: none;
	width: 600px;
	
}

#right-menu ul li{
	float: left;
	text-align: center;
	padding-top: 125px;
}

#right-menu ul li a{
	display: block;
	text-decoration: none;
	color: white;

}

#right-menu li{
	background-color: navy;
	width: 150px;

}


#right-menu img{
	display: block;
	height: 30px;
	width: 30px; 
	margin: auto;
	color: white;
}



nav{
	height: 60px;
	background-color: violet;
	clear: both;
	text-decoration: none;
	padding-top: 20px;
	border-radius: 30px;

}

nav ul {
	width: 60%;
	margin-right: 250px;
	
}

nav ul a{
	text-decoration: none;
	color:  black;
	padding: 20px;
	width: 60%;
	
}


#search{
	float: right;
	padding-right: 25px;
	
}



main{
	float: left;
	width: 75%;
	height: 5000px;
	overflow: hidden;
}

main a{
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	
}



.movies{
	float: left;
	width: 150px;
	height: 250px;
	margin: 25px;
	text-align: center;
}

.movies img{
	height: 200px;
	width: 150px;
}

aside{
	float: right;
	height: 550px;
	width: 25%;
	display: inline;
	padding-top: 20px;
	background-color: #688ae5;
	border-radius: 25px;
}

aside h4{
	font-weight: bold;
}
aside h5{
	text-align: center;
}
aside p{
	margin-top: 20px;
	margin-bottom: 20px;
}

#recipe-box{
	line-height: 1.5;
	margin-bottom: 20px;
}

footer{
	text-align: center;
	clear: both;
	background-color: indigo;
	border-radius: 10px;
}

footer ul {
	list-style: none;

}

footer li{
	display: inline-block;
	padding: 100px;
	
}

footer li a{
	color: white;
	text-decoration: none;
	padding: 10px;
}

h1{
	font-weight: bold;
	margin: 25px;
	height: 25px;
	line-height: 25px;
	text-decoration: none;
}

#genre-bar{
	float: left;

}

#genre-bar a{
	margin: 5px;
	text-decoration: none;
	font-size: 16px;
}

.hidden{
	display: none;
	
}

#vn-click{
text-align: center;
width: 150px;
height: 30px;
line-height: 30px;
background:#FD6CA3;
color:#fff;
cursor:pointer;
display:inline-block;
}

#vn-info {
width: 150px;
display:none;
background:#16a085;
color:#fff;
}

#vn-info ul {
  margin:0;
  list-style-type: none;
}

#comedy-movies{
	width: 75%;
	float: left;
	overflow: hidden;
}

#comedy-movies img{
	width: 150px;
	height: 250px;
	margin: 25px;
	padding-top: 75px;
	overflow: hidden;	
}



#drama-movies{
	width: 75%;
	float: left;
	overflow: hidden;
}

#drama-movies img{
	width: 150px;
	height: 250px;
	margin: 25px;
	padding-top: 75px;
	overflow: hidden;	
}

#thriller-movies{
	width: 75%;
	float: left;
	overflow: hidden;
}

#thriller-movies img{
	width: 150px;
	height: 250px;
	margin: 25px;
	padding-top: 75px;
	overflow: hidden;	
}

#childrens-movies{
	width: 75%;
	float: left;
	overflow: hidden;
}

#childrens-movies img{
	width: 150px;
	height: 250px;
	margin: 25px;
	padding-top: 75px;
	overflow: hidden;	
}

#adapted-movies{
	width: 75%;
	float: left;
	overflow: hidden;
}

#adapted-movies img{
	width: 150px;
	height: 250px;
	margin: 25px;
	padding-top: 75px;
	overflow: hidden;	
}

#scifi-movies{
	width: 75%;
	float: left;
	overflow: hidden;
}

#scifi-movies img{
	width: 150px;
	height: 250px;
	margin: 25px;
	padding-top: 75px;
	overflow: hidden;	
}

#musicals-movies{
	width: 75%;
	float: left;
	overflow: hidden;
}

#musicals-movies img{
	width: 150px;
	height: 250px;
	margin: 25px;
	padding-top: 75px;
	overflow: hidden;	
}

#awards-movies{
	width: 75%;
	float: left;
	overflow: hidden;
}

#awards-movies img{
	width: 150px;
	height: 250px;
	margin: 25px;
	padding-top: 75px;
	overflow: hidden;	
}



#bridget-jones-article{
	float: left;
	width: 75%;
	height: 5000px;
	overflow: hidden;
}

h5{
	font-size: 20px;
	text-decoration: bold;
	padding: 50px;
}

main img{
	height:300px;
	width: 500px;

}

video{
	margin: none;
	padding: none;

}

#original{
	width: 50%;

}
#bridget-jones-article #original img{
	height: 425px;
	width: 275px;
	padding: 25px;
	
}

#bridget-jones-article p{
	padding: 20px;
	padding-left: 30px;
	
}
#bridget-jones-article img{
	height: 225px;
	width: 400px;
	float: left;
}

#big-pic{
	width: 50%;
	float: lefts;
}
#big-pic img {
	height: 300px;
	width: 500px;
	padding-left: 125px;
}

#bridget-jones-article #original-right img{
	height: 500px;
	width: 275px;
	padding: 25px;
	margin-left: 50px;
}

#bottom-pic img{
	height: 450px;
	width: 775px;
	padding-left: 50px;
	padding-bottom: 25px;
}

#gif img{
	height: 325px;
	width: 450px;
	padding: 5px;
	margin-left: 150px;
	
}

#redirect{
	float: clear;
	margin-top: 350px; 
}




















